img {
    border-radius: 0 50px 0 50px;
  }
  h2 {
    font-size: 18px;
  }
  body {
    background: linear-gradient(to right, rgb(65, 148, 44), rgb(69, 170, 165));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(245, 229, 229);
    text-align: center;
  }
  a {
    background-color: aliceblue;
    font-size: 20px;
    border-radius: 10px 60px 50px 60px;
    padding: 10px;
    display: block;
    text-align: center;
    margin: 10px;
    color: rgb(233, 124, 124);

  }
  p{
    display: block;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
  }
  a:hover{
    color: rgb(35, 178, 22);
    background-color: rgb(228, 120, 120);
  }


  